@page
@model Discography.Web.Pages.Album.IndexModel
@{
    ViewData["Title"] = "Todos los Álbumes";
}

<h1>Álbumes</h1>

@foreach (var album in Model.Albums)
{
<div class="row">
    <div class="col-lg-9">
        <div>
            <p>@album.title</p>
        </div>
    </div>
    <div class="col-lg-3">
        <div>
            <a class="btn btn-primary" href="/Album/View" role="button" title="Visualizar Álbum @album.id">Visualizar Álbum</a>
        </div>
    </div>
</div>
}